@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: #dd7d72;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    width: 900px;
    height: 500px;
    position: relative;
    background-color: #cc2222b4;
    border-radius: 15px;
    padding: 4em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to left, #F5F5DC 50%, #BC4639 50%);
    
}

.container h1{
    margin-bottom: 50px;
    color:#c92b19;
}

.form-login {
    position: absolute;
    right: 0;
    width: 50%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    
}

.input-box {
    position: relative;
    margin: 30px;
    align-items: center;
    
   
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    box-sizing: border-box;
}

.input-box input:placeholder {
    color: #000;
    font-weight: 500;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.forgot-pass {
    margin-top: 30px;
    margin-bottom: 30px;
}
.create-account{
   
    margin-bottom: 40px;
}

button {
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #79a128e3;
}

button:hover {
    background-color:#6e902ae7;
    transition: 1s;
    box-shadow: 0 0 15px #668821;
}

.logo h1{
    color: #fbfab1;
    text-align: center;
    margin-bottom: 50%;
    width: 50%;
    flex-direction: column;
     display: flex;
    box-sizing: border-box;
    position: absolute;
     justify-content: center;
     align-items: center;
     left: 0;
     height: 100%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo span{
    font-weight: 800;
    color: #fbf985f1;
}