@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #222;
    transition: 0.3s;   
    
}

main {
    
}

header{
    width: 100%;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px 0 #555;
    position: static !important;
    top: 0;
    z-index: 9999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:#c2c2c2;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
}

.conteudos{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.8;
}

section{
    margin-bottom: 50px;
}

ul, ol{
    margin-left: 30px;
    margin-bottom: 20px;
}

h2{
    color: #D90429;
    margin-top: 30px;
}

h1,h2{
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

h1{
    background-color: #D90429;
    color: #fff;
}

h4{
    color: #333;
    border-left: 4px solid #D90429;
    padding-left: 10px;
}