@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #222;
    transition: 0.3s;
   
}
main{
    padding-top: 40px;
}
header{
    width: 100%;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px 0 #555;
    position: static !important;
    top: 0;
    z-index: 9999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:#c2c2c2;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: static;
}
section{
    margin-bottom: 30px;
}
h1,h2{
    margin-bottom: 20px;
}
