@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #1F1F1F;

}

header{
    width: 100%;
    background-color: #fff;
    padding: 25px;

   

    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: fixed;

   
}

.logo {
    color: #D90429;
    font-size: 22px;
    font-weight: bold;
    
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.items {
    list-style: none;
    display: flex;
    gap: 25px;
    
}

.items a {
    text-decoration: none;
    color: #1f1f1f;
    transition: 0.5s;
    
}

.items a:hover {
    color: #e90404;
    border-bottom-style: solid;
    border-color: #B20808;
}

.btns {
    display: flex;
    gap:15px;

}

.btn-emergencia{
    border-radius: 8px;
    height: 40px;
    padding: 0.5rem 1rem;
    background: #D90429;
    box-shadow: 0 2px 5px hsl(0, 0%, 14%);
    cursor: pointer;
    color: white;
    text-decoration: none;
    
}
.btn{
    
    border-radius: 6px;
    text-decoration: none;
    padding: 14px 20px;
    background: #D90429;
    box-shadow: 0 2px 5px hsl(0, 0%, 14%);
    
    color: white;
}

.btn:hover, .btn-emergencia:hover{
    background-color: #9c0202;
    transition:0.5s;
}

main {
    background-color: #ffffff;
 
   
}
.container {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    
}

span{
    color: #B20808;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
}

.texto {
    width: 50%;
}

.texto h1 {
    font-size: 50px;
}

.texto span {
    color: #D90429;
}

.texto p {
    margin: 20px 0;
    color: #6B7280;
    font-size: 18px;
}


.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.card {
    border-right-style: solid;
    padding: 25px;
    border-right-width: 2px;
    border-right-color: #afafaf6c;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    
}

.secao {
    padding: 80px 8%;
    text-align: center;
}

.secao h2 {
    color: #D90429;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: #F5F5F5;
    padding: 30px;
    width: 200px;
    border-radius: 12px;
}
.box p{
    font-size: 14px;
}
.box a{
    font-size: 14px;
    color: #e90404;
    font-weight: bold;
    text-decoration: none;
}

.emergencia {
    background: #FFE5E9;
}

/* DICAS */
.dicas-lista {
    list-style: none;
}

.dicas-lista li {
    margin: 10px 0;
}

/* RODAPÉ */
footer {
    background: #1f1f1f;
    color: white;
    text-align: center;
    padding: 20px;
}

#quiz-section select,
#quiz-section button {
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
}

#quiz-section button {
    background: #D90429;
    color: white;
    border: none;
    cursor: pointer;
}



#p1{
    font-weight: bolder;
}

#p2{
    margin-top: 10px;
}

#bgimg img{
    width: 500px;
    border-radius: 15px;
    
    
}

