@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #222;
    transition: 0.3s;

}

header{
    width: 100%;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px 0 #555;
    position: static;
    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:#c2c2c2;
}

main {
    background-color: #ffffff;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.title {
    color: #D90429;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}

.items {
    list-style: none;
    display: flex;
    gap: 25px;
}

.items li {
    transition: 0.5s;
}

.items li:hover {
    transform: translateY(-2px);
}

.items a {
    text-decoration: none;
    color: #1f1f1f;
    transition: 0.5s;
}

.items a:hover {
    color: #e90404;
    border-bottom-style: solid;
    border-color: #B20808;
}

.secao-emergencia{
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}
.container-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-urgencia{
    background-color: white;
    border-radius: 12px;
    box-shadow:  0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 250px;
    transition: 0.2s;
}

.card-urgencia:hover{
    transform: translateY(-5px);
}

.card-urgencia h3{
    margin: 0;
    color: #333;
}
.card-urgencia .numero{
    display: block;
    font-size: 32px;
    font-weight:bold;
    color: #e74c3c;
    margin: 10px 0;
}

.card-urgencia p{
    font-size: 14px;
    color:#666;
    min-height: 40px;
}

.btn-ligar{
    display: inline-block;
    background-color: #D90429;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-ligar:hover{
    background-color: #bb0221;
    transition: 0.5s;
}
 
.btns {
    display: flex;
    gap:15px;
}

.card-dica{
    background: linear-gradient(to bottom, #D90429, #ff9090);
    width: 450px;
    min-height: 250px;
    padding: 25px; 
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: auto;  
}

.secao-dica{
    text-align: center;
    padding: 40px 20px;  
    
}

.secao-dica h2{
    color: #D90429;
    margin-bottom: 20px;
}

#dicaTexto {
    padding: 20px;
    background-color: #fff;
    color: #8b1e1e;
    border-radius: 12px;
    width: 85%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}

#btnDica{
    padding:  12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#icon-dica{
    color: #f8de18;
    font-size: 25px;

}

.menu{
    position: relative;
    margin-left: 20px;
}

#btnAcess {
    background: #D90429;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#btnAcess button:hover {
    background-color: #bb0221;
    transition: 0.5s;
}

.menu-acess{
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
}

.menu-acess button{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align:left;
}

.menu-acess button:hover{
    background-color: #f5f5f5;
}

.hidden{
    display:none;
}

/* Cores dark*/
body.dark {
    background-color: #121212;
    color: #f5f5f5;
}

body.dark header {
    background-color: #1e1e1e;
}
body.dark .menu {
    background-color: #1e1e1e;
}
body.dark .texto p{
    color: #d8d8d8
}
body.dark section, body.dark .card, body.dark.container {
    background-color: #1a1a1a;
    color: #fff;
}
body.dark button {
    background-color: #333;
    color: white;
    border-color: #555;
}
body.dark #menuAcess button:hover{
    background-color: #555;
}
.dark nav a {
    color: white;
}

.dark .box {
    background-color: #2a2a2a;
    color: white;
}

.dark footer {
    background-color: black;
}

/*contraste*/
body.contraste{
    background-color: #0a0a0a;
    color:#ffffff;
}
body.contraste header, body.contraste nav, body.contraste .menu {
    background-color: #111;
}
body.contraste h1, body.contraste h2, body.contraste h3{
    color:#ff4d4d;
}
body.contraste button, body.contraste a{
    background-color: transparent;
    color:#fff;
    border: 2px solid#ff4d4d;
}
body.contraste button:hover, body.contraste a:hover{
    background-color: #ff4d4d;
    color: #fff;
}
body.contraste .card, body.contraste section {
    background-color: #181818;
    border: 2px solid #ff4d4d;
    color: #fff;
}
body.contraste .box, body.contraste a {
    color: #ffffff;
    background-color: #181818;
}
body.contraste .menu-acess {
    background-color: #181818;
}
body.contraste .card-urgencia, body.contraste .card-urgencia p{
    background-color: #181818;
    color: #fff;
}
body.contraste .footer, body.contraste .sec{
    background-color: #111;
    color: #fff;
}

.btn1, .btn2 {
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 8px;
    transition: 0.5s;
}

.btn1{
    background: #D90429; 
    color: white;
}

.btn1:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 #D90429;
}

.btn2 {
    border: 2px solid #D90429;
    color: #D90429;
}

.btn2:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 #D90429;
}

.btn:hover, .btn-emergencia:hover{
    background-color: #9c0202;
    transition:0.5s;
}

.container {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
}

span{
    color: #B20808;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    gap: 25px;
}

.texto {
    flex: 1;
    max-width: 600px;
}

.texto h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.texto span {
    color: #D90429;
}

.texto p {
    margin: 20px 0;
    color: #6B7280;
    font-size: 18px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #bb0221;
    padding: 25px 30px;
}

.card {
    border-style: solid;
    padding: 25px;
    border-width: 2px;
    border-color: #D90429;
    border-radius: 12px;
    background-color: #fff;
    width: 250px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 5px 4px 8px 0 #383838ae
}

.card:hover {
    transform: translateY(-5px);
}

.card .icon {
    color: #D90429;
    font-size: 30px;
}

.card h3 {
    gap: 25px;
}

.secao {
    padding: 80px 8%;
    text-align: center;
    margin-bottom: 10px;
}

.secao h2 {
    color: #D90429;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: #F5F5F5;
    padding: 30px;
    width: 195px;
    border-radius: 12px;
    transition: 0.5s;
    border: 2px solid #c2c2c2; 
}

.box .icon {
    color: #D90429;
    font-size: 30px;
}

.box:hover {
    transform: translateY(-5px);
    border-style: solid;
    border-width: 2px;
    border-color: #D90429;
    box-shadow: 0 0 5px #e90404;
}

.box p{
    font-size: auto;
}

.box a{
    font-size: 14px;
    color: #D90429;
    font-weight: bold;
    text-decoration: none;
}

.emergencia {
    background: #D90429;
    color: #fff;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    padding: 15px;
}

.emergencia h2 {
    color: #fff;
}

.dicas-lista {
    list-style: none;
}

.dicas-lista li {
    margin: 10px 0;
}


#quiz-section select,
#quiz-section button {
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
}

#quiz-section button {
    background: #D90429;
    color: white;
    border: none;
    cursor: pointer;
}
#quiz-section button:hover{
    background-color: #bb0221;
    transition: 0.5s;
}

#bgimg {
    flex: 1;
    display: flex;
    justify-content: center;
}

#bgimg img{
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.footer {
    background-color: #25242e;
    padding: 15px 20px;
}

.footer .sec {
    color: #616161;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.footer .brand {
    font-size: 1.2rem;
    font-weight: 600;
}