@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #1F1F1F;
}

header{
    width: 100%;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #464646;
}

main {
    background-color: #ffffff;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #D90429;
    font-size: 22px;
    font-weight: bold;
}



.items {
    list-style: none;
    display: flex;
    gap: 25px;
}

.items li {
    transition: 0.5s;
}

.items li:hover {
    transform: translateY(-2px);
}

.items a {
    text-decoration: none;
    color: #1f1f1f;
    transition: 0.5s;
}

.items a:hover {
    color: #e90404;
    border-bottom-style: solid;
    border-color: #B20808;
}

.secao-emergencia{
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}
.container-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card-urgencia{
    background-color: white;
    border-radius: 12px;
    box-shadow:  0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 250px;
    transition: 0.2s;
}
.card-urgencia:hover{
    transform: translateY(-5px);
}
.card-urgencia h3{
    margin: 0;
    color: #333;
}
.card-urgencia .numero{
    display: block;
    font-size: 32px;
    font-weight:bold;
    color: #e74c3c;
    margin: 10px 0;
}
.card-urgencia p{
    font-size: 14px;
    color:#666;
    min-height: 40px;
}
.btn-ligar{
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
}
.btn-ligar:hover{
    background-color: #c0392b;
}
 
.btns {
    display: flex;
    gap:15px;

}


/* Cores dark*/
#tema {
    background: #D90429;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

#tema:hover {
    background: #a8001f;
}
.dark {
    background-color: #121212;
    color: white;
}

.dark header {
    background-color: #1e1e1e;
}

.dark nav a {
    color: white;
}

.dark .box {
    background-color: #2a2a2a;
    color: white;
}

.dark footer {
    background-color: black;
}






.btn1, .btn2 {
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 8px;
    transition: 0.5s;
}

.btn1{
    background: #D90429; 
    color: white;
}

.btn1:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 #D90429;
}

.btn2 {
    border: 2px solid #D90429;
    color: #D90429;
}

.btn2:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 #D90429;
}

.btn:hover, .btn-emergencia:hover{
    background-color: #9c0202;
    transition:0.5s;
}

.container {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
}

span{
    color: #B20808;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
}

.texto {
    width: 50%;
}

.texto h1 {
    font-size: 50px;
}

.texto span {
    color: #D90429;
}

.texto p {
    margin: 20px 0;
    color: #6B7280;
    font-size: 18px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border-style: solid;
    padding: 25px;
    border-width: 2px;
    border-color: #D90429;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 0 10px 0 #383838
}

.card:hover {
    transform: translateY(-5px);
}

.card .icon {
    color: #D90429;
    font-size: 30px;
}

.card h3 {
    gap: 25px;
}

.sessao {
    padding: 80px 8%;
    text-align: center;
    margin-bottom: 10px;
}

.sessao h2 {
    color: #D90429;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: #F5F5F5;
    padding: 30px;
    width: 195px;
    border-radius: 12px;
    transition: 0.5s;
    border: 2px solid #c2c2c2; 
}

.box .icon {
    color: #D90429;
    font-size: 30px;
}

.box:hover {
    transform: translateY(-5px);
    border-style: solid;
    border-width: 2px;
    border-color: #D90429;
    box-shadow: 0 0 5px #e90404;
}

.box p{
    font-size: 14px;
}

.box a{
    font-size: 14px;
    color: #e90404;
    font-weight: bold;
    text-decoration: none;
}

.emergencia {
    background: #D90429;
    color: #fff;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    padding: 15px;
}

.emergencia h2 {
    color: #fff;
}

.dicas-lista {
    list-style: none;
}

.dicas-lista li {
    margin: 10px 0;
}


#quiz-section select,
#quiz-section button {
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
}

#quiz-section button {
    background: #D90429;
    color: white;
    border: none;
    cursor: pointer;
}

#p1{
    font-weight: bolder;
}

#p2{
    margin-top: 10px;
}

#bgimg img{
    width: 500px;
    border-radius: 15px;
}

.footer {
    background-color: #25242e;
    padding: 15px 20px;
}

.footer .sec {
    color: #616161;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.footer .brand {
    font-size: 1.2rem;
    font-weight: 600;
}